<html>
<head>
</head>
<body style="background-color: black; color: white;">

<div>
    <img id='id_img' src="/static/default.png">
    <canvas id='id_canvas' width='1024px' height='1024px'></canvas>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>

$(document).ready(function() {
    const socket = io()
    socket.on("imgdata", (data) => {
        Draw(data);
    });
});

function Draw(imgData) {
    var playerX, playerY, teamNum, playerName, playerHealth;
    var bombX, bombY, bombPlanted;

    var img = document.getElementById("id_img");
    var cnvs = document.getElementById("id_canvas");
    var ctx = cnvs.getContext("2d");
    if (imgData['local_player'] == true) {

        document.getElementById("id_img").src="/static/"+imgData['map']+".png";
        
        cnvs.style.position = "absolute";
        cnvs.style.left = img.offsetLeft + "px";
        cnvs.style.top = img.offsetTop + "px";
        
        ctx.reset();
        for (var i = 0; i < imgData['players'].length; i++) {
            if (!imgData['players'][i]['player_dead']) {
                playerX = imgData['players'][i]['player_x'];
                playerY = imgData['players'][i]['player_y'];
                teamNum = imgData['players'][i]['team_num'];
                playerName = imgData['players'][i]['player_name'];
                playerHealth = imgData['players'][i]['player_health'];
                
                if (teamNum == '2') { //TT
                    ctx.beginPath();
                    ctx.arc(playerX, playerY, 4, 0, 2 * Math.PI);
                    ctx.lineWidth = 10;
                    ctx.strokeStyle = '#ff9900';
                    ctx.stroke();
                    ctx.fillStyle = '#ff9900';
                    ctx.fill();
                    ctx.closePath();
                    ctx.textAlign = 'center';
                    ctx.fillText(playerName, parseInt(playerX) , parseInt(playerY)-14);
                    ctx.fillText("HP: " + playerHealth, parseInt(playerX) , parseInt(playerY)+20);
                }
                if (teamNum == '3') { //CT
                    ctx.beginPath();
                    ctx.arc(playerX, playerY, 4, 0, 2 * Math.PI);
                    ctx.lineWidth = 10;
                    ctx.strokeStyle = '#00bfff';
                    ctx.stroke();
                    ctx.fillStyle = '#00bfff';
                    ctx.fill();
                    ctx.closePath();
                    ctx.textAlign = 'center';
                    ctx.fillText(playerName, parseInt(playerX) , parseInt(playerY)-14);
                    ctx.fillText("HP: " + playerHealth, parseInt(playerX) , parseInt(playerY)+20);
                }
            }
        }
        if (imgData['bomb']['bomb_x'] != false) {
            bombX = imgData['bomb']['bomb_x'];
            bombY = imgData['bomb']['bomb_y'];
            bombPlanted = imgData['bomb']['planted'];

            if (bombPlanted == false) {
                ctx.beginPath();
                ctx.lineWidth = 10;
                ctx.strokeStyle = '#03fc0f';
                ctx.stroke();
                ctx.fillStyle = '#03fc0f';
                ctx.fill();
                ctx.fillRect(bombX, bombY, 10, 10);
                //ctx.arc(bombX, bombY, 4, 0, 2 * Math.PI);
                ctx.closePath();
                ctx.fillText("Bomb", bombX, bombY);
            }
            else {
                ctx.beginPath();
                ctx.lineWidth = 10;
                ctx.strokeStyle = '#b80000';
                ctx.stroke();
                ctx.fillStyle = '#b80000';
                ctx.fill();
                ctx.fillRect(bombX, bombY, 10, 10);
                //ctx.arc(bombX, bombY, 4, 0, 2 * Math.PI);
                ctx.closePath();
                ctx.fillText("Bomb", bombX, bombY);
            }
        }
    }
    else {
        ctx.reset();
        document.getElementById("id_img").src="/static/default.png";
    }
}

</script>
</body>
</html>